@import url(../styleMain.css);

    .baneer {
        height: 200px;
        width: 100%;
        background-image: url(../img/Bitmap\ \(4\).png);
        background-size: cover;
        display: flex;
        opacity: 40%;
        align-items: center;
        margin-bottom: 100px;
    }
    
    .filter {
        background-color: #2F3B59;
        position: relative;
    }
    
    .title {
        position: absolute;
        top: 30%;
        left: 11.5%;
        width: 77%;
        z-index: 1;
    }

    .circle {
        position: absolute;
        right: 0px;
        top: 70px;
        z-index: 1;
    }

    .container3 {
        width: 77%;
        margin: 0 auto;
        display: flex;
        margin-bottom: 200px;
        justify-content: space-between;
    }

    .container3 h2 {
        width: 500px;
        margin-bottom: 20px;
    }

    .container3 p {
        width: 500px;
        margin-bottom: 40px;
    }

.container3 .group2 {
    display: relative;
}

    .container3 .yellow_arrow {
        position: absolute;
        right: 0px;
        top: 700px;
        z-index: 1;
    }

    .container3 .circle_decoration {
        position: absolute;
        right: 0px;
        top: 400px;
    }

    .container4 {
        width: 77%;
        margin: 0 auto;
        margin-bottom: 80px;
        display: flex;
        gap: 25px;
    }

    .container4 .group {
        width: 33%;
    }

    .container4 .group img {
        margin-bottom: 20px;
    }

    .container4 .group h4 {
        text-align: center;
        margin-bottom: 20px;
    }

    .container4 .group p {
        text-align: center;
    }

    .join {
        text-align: center;
    }

    .offre {
        width: 77%;
        height: 128px;
        margin: 0 auto;
        background-color: var(--light-grey);
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
        }
        
        .offres {
            margin-bottom: 100px;
}

    .offre_text {
        margin-left: 30px;
    }

    .offre .scootButton {
        margin-right: 30px;
    }

    .offre .scootButton:hover {
        background-color: var(--light-grey);
    }
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .offre {
        width: 90%;
    }

    .container3 {
        flex-direction: column;
        align-items: center;
    }

    .container3 .group1 {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container3 .group1 h2 {
        text-align: center;
        margin-top: 35px;
    }
    
    .container3 .group1 p {
        text-align: center;
    }

    .container4 {
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 768px) {

    .title {
        position: absolute;
        text-align: center;
    }

    .offre {
        width: 90%;
        flex-direction: column;
    }

    .offre_text {
        margin-left: 0px;
    }

    .offre h4 {
        margin-top: 10px;
    }

    .offre .scootButton {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .offre p {
        text-align: center;
    }

    .container3 {
        flex-direction: column;
        align-items: center;
    }

    .container3 .group1 {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container3 .group1 h2 {
        text-align: center;
        margin-top: 35px;
    }
    
    .container3 .group1 p {
        text-align: center;
    }

    .container4 {
        flex-direction: column;
        align-items: center;
    }
}