@import url(../styleMain.css);
@media screen and (min-width: 1025px) {

    .baneer {
        height: 200px;
        width: 100%;
        background-image: url(../img/Bitmap\ \(4\).png);
        background-size: cover;
        display: flex;
        opacity: 40%;
        align-items: center;
        margin-bottom: 100px;
    }
    
    .filter {
        background-color: #2F3B59;
        position: relative;
    }
    
    .title {
        position: absolute;
        top: 30%;
        left: 11.5%;
        width: 77%;
        z-index: 1;
    }

    .circle {
        position: absolute;
        right: 0px;
        top: 70px;
        z-index: 1;
    }

    .container3 {
        width: 77%;
        margin: 0 auto;
        display: flex;
        margin-bottom: 200px;
        justify-content: space-between;
    }

    .container3 h2 {
        width: 500px;
        margin-bottom: 20px;
    }

    .container3 p {
        width: 500px;
        margin-bottom: 40px;
    }

    .partie1 {
        position: relative;
    }

    .container3 .yellow_arrow {
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: 1;
    }

    .container3 .circle_decoration {
        position: absolute;
        right: 0px;
    }

    .offre {
        width: 77%;
        height: 128px;
        margin: 0 auto;
        background-color: var(--light-grey);
        display: flex;
        margin-bottom: 20px;
        align-items: center;
    }

    .offre_text {
        margin-left: 30px;
    }

    .offre .scootButton {
        margin-right: 30px;
    }

    .offre .scootButton:hover {
        background-color: var(--light-grey);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {}