:root {
    --yellow: #FCB72B;
    --dark-navy: #495567;
    --dark-grey: #333A44;
    --dim-grey: #939CAA;
    --light-grey: #E5ECF4;
    --snow: #F2F5F9;
    --light-yellow: #FFF4DF;
    --space-mono: "Space Mono";
    --lexend-deca: "Lexend Deca";
}

h1, h2, h3, h4 {
    font-family: var(--space-mono);
    color: var(--dark-navy);
    font-weight: bold;
}

h1 {
    font-size: 56px;
    color: white; /* Spécifique à h1 */
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 24px;
}

p {
    font-family: var(--lexend-deca);
    font-size: 15px;
    color: var(--dim-grey);
}

.scootButton:hover {
    background-color: white;
    color: var(--yellow);
    border: 2px solid var(--yellow);
}

.button:hover {
    border: 2px solid var(--yellow);
    color: var(--yellow);
    background-color: transparent;
}

.logo_reseaux:hover {
    fill: var(--light-grey)
}

.link:hover {
    color: var(--yellow);
}
/* -------------------------------------------------------------------------------------------------------- */

/* HEADER: */
/* ------- */


header {
    height: 96px;
    display: flex;
        align-items: center;
    }
    
    .baneer_header {
        width: 77%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.baneer_header nav a img {
    min-width: 107px;
}

.baneer_header nav {
    display: flex;
    align-items: center;
    gap: 70px
}

.scootButton {
    width: 180px;
    height: 53px;
    font-family: "Space Mono";
    font-weight: 700;
    color: white;
    background-color: var(--yellow);
    border: none;
}

.liens ul {
    display: flex;
    gap: 35px;
    list-style-type: none;
    font-family: var(--space-mono);
    font-size: 15px;
    font-weight: 700;
    color: var(--dim-grey);
}

.hamburger_menu {
    display: none;
}

/* -------------------------------------------------------------------------------------------------------- */


/* FOOTER:  */
/* -------  */

.container1_footer {
    width: 100%;
    height: 300px;
    background-color: var(--dark-navy);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container2_footer {
    height: 96px;
    background-color: var(--dark-grey);
}

.nav1 {
    width: 77%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1_footer .nav1 .links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.container1_footer .nav1 .links a img {
    min-width: 130px
}
.container1_footer .nav1 .text h2 {
    color: white;
}

.container1_footer .circle_decoration {
    position: absolute;
    top: 142px;
    right: 0px;
    pointer-events: none;
}

.container2_footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2_footer .nav2 {
    display: flex;
    justify-content: space-between;
    width: 77%;
}

.container2_footer .nav2 .nav-links {
    font-family: var(--space-mono);
    font-size: 15px;
    color: var(--dim-grey);
    font-weight: bold;
    display: flex;
    gap: 35px;
    align-items: center;
}

.container2_footer .nav2 .box1 {
    display: flex;
    gap: 70px;
}

.container2_footer .nav2 .box1 a img {
    min-width: 107px;
}
.container2_footer .nav2 .box2 {
    display: flex;
    gap: 30px;
}

/* -------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container1_footer .nav1 {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }
}