.container1 {
    height: 650px;
    background-image: url(../img/Bitmap-4.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 200px;
}

.container1 .text {
    width: 77%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container1 .text h1 {
    width: 535px;
    margin-bottom: 30px;
}

.container1 .text p {
    color: white;
    width: 400px;
    margin-left: 100px;
    margin-bottom: 40px;
}

.container1 .text button {
    margin-left: 100px;
}

.container1 .yellow_line {
    position: absolute;
    top: 350px;

}

.container1 .yellow_arrow {
    position: absolute;
    top: 350px;
    left: 775px;
}

.container1 .circle_decoration{
    position: absolute;
    bottom: 160px;
    right: 0px;
}

.container2 {
    width: 77%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 200px;
    gap: 40px;
}

.container2 .group {
    width: 33%;
    
}

.container2 .group img {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.container2 .group h4 {
    margin-bottom: 20px;
}

.partie1 {
    position: relative;;
} 

.grey {
    width: 69%;
    height: 10px;
    background-color: var(--light-grey);
    position: absolute;
    left: 0px;
    top: 45px;
}

.container3 {
    width: 77%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 200px;
    justify-content: space-between;
}

.container3 h2 {
    width: 500px;
    margin-bottom: 20px;
}

.container3 p {
    width: 500px;
    margin-bottom: 40px;
}

.container3 .yellow_arrow {
    position: absolute;
    right: 0px;
    bottom:0px;
    z-index: 1;
}

.container3 .circle_decoration {
    position: absolute;
    right: 0px;
}

.container4 {
    width: 77%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 200px;
    justify-content: space-between;
}

.container4 h2 {
    width: 500px;
    margin-bottom: 20px;
}

.container4 p {
    width: 500px;
    margin-bottom: 40px;
}

.container4 .yellow_arrow {
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 1;
}

.container4 .circle_decoration {
    position: absolute;
    left: 0px;
}

.container5 {
    width: 77%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 200px;
    justify-content: space-between;
}

.container5 h2 {
    width: 500px;
    margin-bottom: 20px;
}

.container5 p {
    width: 500px;
    margin-bottom: 40px;
}

.container5 .yellow_arrow {
    position: absolute;
    top: 80px;
    right:0px;
    z-index: 1;
}

.container5 .circle_decoration {
    position: absolute;
    right: 0px;
}
.button {
    width: 180px;
    height: 53px;
    margin-left: auto;
    font-family: "Space Mono";
    font-weight: 700;
    color: white;
    background-color: var(--yellow);
    border: none;
}