/* @import url(../styleMain.css); */

.baneer {
    height: 200px;
    width: 100%;
    background-image: url(../img/Bitmap\ \(4\).png);
    background-size: cover;
    display: flex;
    opacity: 40%;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
}

.filter {
    background-color: #2F3B59;
    position: relative;
}

.title {
    position: absolute;
    top: 30%;
    left: 11.5%;
    width: 77%;
    z-index: 1;
}

.circle {
    position: absolute;
    right: 0px;
    top: 70px;
    z-index: 1;
}

.map {
    width: 77%;
    margin: 0 auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.scootButton {
    min-width: 180px;
    height: 53px;
    font-family: "Space Mono";
    font-weight: 700;
    color: white;
    background-color: var(--yellow);
    border: none;
}

section .text {
    width: 77%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 80px;
}

p {
    max-width: 445px;
    text-align: center;
}

h2 {
    text-align: center;
    max-width: 351px;
}

.map_phone {
    display: none;
}

.country {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    section .text {
        flex-direction: column;
    }

    .text .scootButton {
        margin: 0 auto
    }

}

@media screen and (max-width: 768px) {
    
    section .text {
        flex-direction: column;
        width: 90%;
    }

    .title {
       position:absolute;
       text-align: center;
    }

    .map_desktop {
        display: none;
    }

    .map_phone {
        display: block;
        width: 600px;
    }

    .map {
        width: 90%;
    }

    .country {
        text-align: center;
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .country1 {
        height: 72px;
        background-color: #FFF4DF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}